:root{
    --color-black: #000000;
    --color-blue: blue;
    --color-nav-link: #212121;
    --color-light-blue: #2196F3;
    --color-gray: #757575;
    --back-ground: #2F303A;
    --color-white: #FFFFFF;
    --bck-ground: #F5F4FA;
    --color-btn: #188CE8;
    --border: #ECECEC;
    --border-portfolio: #EEEEEE;
    --icon-color: #AFB1B8;
}

*{
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

button{
    cursor: pointer;
}

body{
    font-family: "Roboto", sans-serif;
}


/* ----- Common CSS-styles ----- */
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}




.sec-button{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--color-white);
    border: none;
    background: var(--color-light-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sec-button:hover,
.sec-button:focus{
    background-color: var(--color-btn);
}


.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}




.list-nav{
    list-style: none;  
    
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}



.titel{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    color: var(--color-nav-link);
    margin-bottom: 50px;
}




/* ----- Header ----- */

.header a{
    text-decoration: none;
}

.header{
    border-bottom: 1px solid var(--border);
}


.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.logo, .logo-web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
}

.logo{
    color: var(--color-black);
    display: block;
}
.logo-web{
    color: var(--color-light-blue);
}

.container-beg{
    cursor: pointer;
    display: flex;
    gap: 50px;
    margin-left: 93px;

}


.list-nav-link{
    display: block;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--color-nav-link);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current{
    color: var(--color-light-blue);
}

.current::after{
    content: '';
    height: 4px;
    background-color: var(--color-light-blue);
    display: flex;
    border-radius: 2px;
    position: relative;
    top: 33px;
}

.container-nav-list{
    padding-bottom: 32px;
}

.container-list-adres{
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 50px;
    margin-left: auto;
}



.list-mail,
.list-phone{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.list-nav-link:hover,
.list-nav-link:focus,
.list-mail:hover,
.list-mail:focus,
.list-phone:hover,
.list-phone:focus{
    color:var(--color-light-blue);
}


.mail-icon{
    fill: currentColor;
}

.list-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--color-gray);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.phone-logo{
    fill: currentColor;
}


/* ----- Make-order ----- */

.sec-back{
    background: var(--back-ground);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    background-image: linear-gradient( 
        rgba(47, 48, 58, 0.4),  
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/baclground\ img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: auto;
    background-size: cover;
    margin: 0 auto;
    
}

.container-order{
    display: flex;
    flex-direction: column;
}

.sec-front{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 30px;
}

/* ----- Features ----- */

.container-list-main{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.main-list{
    list-style: none;
    margin: 0;
    padding: 0;
    flex-basis: calc((100% - 90px) / 4);
}

.main-icon-iteam{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bck-ground);
    border-radius: 4px;
    margin-bottom: 30px;
}


.main-list-titel{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-nav-link);
    margin-bottom: 10px;
}

.main-list-par{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--color-gray);
}


/* ----- About ----- */

.container-doing{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.about-foto-wrap{
    position: relative;
}

.foto{
    display: block;
    max-width: 100%;
}

.section.about{
    padding-top: 0;
}

.about-foto-text{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    background: rgba(47, 48, 58, 0.8);
    
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;
}

/* ----- Our team ----- */


.bck-ground{
    background: var(--bck-ground);
}

.container-about-team{
    display: flex;
    gap: 30px;
    justify-content: center;

}

.last-list{
    background: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 90px) / 4);
}


.common-styles{
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-person{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--color-nav-link);
    margin-bottom: 10px;
}

.about-work{
    font-weight: 400;
    color: var(--color-gray);
    margin-bottom: 16px;
}


.person-soc-list{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.person-soc-iteam{
    width: 44px;
    height: 44px;
}

.person-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-soc-icon{
    fill: currentColor;
}

.person-soc-link:hover,
.person-soc-link:focus{
    background-color: var(--color-light-blue);
    color: var(--color-white);
}

/* Clients list */

.clients-list{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.clients-iteam{
    flex-basis: calc((100% - 150px) / 6);
    height: 92px;
}

.clients-adres{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    border: 1px solid;
    border-color: var(--icon-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo,
.clients-iteam{
    fill: currentColor;
}

.clients-adres:hover,
.clients-adres:focus{
    border-color: var(--color-light-blue);
    color: var(--color-light-blue);
}

/* ----- Footer ----- */

.foot{
    background: var(--back-ground);
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-foot{
    align-items: baseline;
    display: flex;
    gap: 70px;
}

.container-block{
    margin-left: auto;
}

.foot-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    display: inline-block;
}

.foot-child:not(:last-child){
    margin-bottom: 9px;
}

.foot-list{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--color-white);
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-list:hover,
.foot-list:focus,
.foot-info:hover,
.foot-info:focus{
    color:var(--color-light-blue);
}

.foot-info{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    


.foot-titel{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--color-white);
    
}


.foot-soc-list{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

.foot-soc-iteam{
    width: 44px;
    height: 44px;
}
.foot-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-soc-icon{
    fill: currentColor;
}

.foot-soc-link:hover,
.foot-soc-link:focus{
    background-color: var(--color-light-blue);
    color: var(--color-white);
}

.footer-form{
    display: flex;
    gap: 12px;
}

.input-footer-form{
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    color: rgba(255, 255, 255, 0.6);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input-footer-form::placeholder{
    color: rgba(255, 255, 255, 0.6);
}


.input-footer-form:hover,
.input-footer-form:focus{
    border-color: var(--color-light-blue);
}


.subscribe-button{
    width: 200px;
    padding: 10px 62px 10px 28px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.send-icon{
    width: 24px;
    height: 24px;
    position: absolute;
    display: block;
    right: 28px;
    fill: currentColor;
}


/* ---- Portfolio ----- */

.container-filter-nav{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.sec-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-nav-link);
    background: var(--bck-ground);
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: none;
    padding: 6px 22px;
    transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-btn:hover,
.sec-btn:focus{
    background: var(--color-light-blue);    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
    color: var(--color-white);

}

.container-filter-foto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}

.filter-border{
    flex-basis: calc((100% - 60px) / 3);
    background: var(--color-white);
}

.portfolio-item-link{
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}

.portfolio-top-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-item-link:hover .portfolio-top-text , 
.portfolio-item-link:focus .portfolio-top-text { 
    transform: translateY(0);
}

.portfolio-top-text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5555;
    letter-spacing: 0.03em;

    position: absolute;
    top: 0;
    padding: 63px 24px 63px 24px;
    height: 100%;

    color: var(--color-white);
    background: rgba(33, 150, 243, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-common-styles{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid var(--border-portfolio);
    border-bottom: 1px solid var(--border-portfolio);
    border-left: 1px solid var(--border-portfolio);
    
}

.portfolio-done{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-nav-link);
    margin-bottom: 4px;
    text-decoration: none;
}

.portfolio-doing{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--color-gray);
    text-decoration: none;
}

/* ----- Modal window ----- */

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal{
    width: 528px;
    max-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);

}

.x-modal{
    position: absolute;
    right: 8px;
    top: 8px;
    height: 30px;
    width: 30px;
    background: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-modal:hover,
.x-modal:focus{
    background-color: var(--color-white);
    color: var(--color-light-blue);
}

.x-icon{
    fill: currentColor;
}

.modal-titel{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-nav-link);
    margin-bottom: 12px;
}

.modal-text-up{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: var(--color-gray);
    display: block;
    position: relative;
}

.input-wrapper{
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}

.modal-input{
    font-size: 12px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover{
    border-color: var(--color-light-blue);
}

.modal-input:focus + .modal-icon{
    fill: var(--color-light-blue);
}

.modal-input:hover + .modal-icon{
    fill: var(--color-light-blue);
}

.modal-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field{
    width: 100%;
    height: 138px;
    margin-bottom: 20px;
}

.modal-text-comment{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: var(--color-gray);
    display: block;
    position: relative;
    margin-bottom: 4px;
}

.modal-comment{
    font-size: 12px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px 12px 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal-comment::placeholder{
    color: rgba(117, 117, 117, 0.5);
}

.modal-comment:hover,
.modal-comment:focus{
    border-color: var(--color-light-blue);
    color: var(--color-nav-link);
}

.modal-check{
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:focus + .check-text span { 
    border-color: var(--color-light-blue);
}

.modal-check:hover + .check-text span { 
    border-color: var(--color-light-blue);
}

.check-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--color-gray);
    display: flex;
    align-items: center;
    text-align: center;
    
}

.check-text span{
    width: 16px;
    height: 15px;
    border: 2px solid var(--color-black);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-left: 12px;
    margin-right: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span{
    background-color: var(--color-light-blue);
    border: none;
    fill: var(--color-white);
}


.policy-adress{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    margin-left: 5px;
    color: var(--color-light-blue);
}

.modal-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    mask-border: 0px;
}

.modal-send{
    width: 200px;
    padding: 10px 52px 10px 52px;
}